@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}
html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
body {
  min-height: 100dvh;
}
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}
img {
  -webkit-user-drag: none;
}
/* ::-webkit-scrollbar {
  width: 10px;
  scrollbar-color: rgb(61, 61, 61);
}
::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 2px;
}

::selection {
  color: white;
  background: #1f2937;
} */
.gradient-text {
  background: linear-gradient(
    to right,
    #3c0877,
    #4b0082,
    #9370db,
    #9119e7,
    #ab4ff7,
    #1b0410,
    #4b0082,
    #9370db,
    #9119e7,
    #ab4ff7
  );
  background-size: 300% 300%;
  background-clip: text;
}
.gradient-bg {
  background: linear-gradient(
    to left,
    #3c0877,
    #4b0082,
    #9119e7,
    #ab4ff7,
    #4b0082,
    #9119e7,
    #ab4ff7
  );
  background-size: 300% 300%;
}
